/*Entre Brujos logo*/
.navbar-brand {
    font-weight: 500;

}

/*cuadro de texto del dropdown*/
.dropdown-menu a:hover {
    background-color: rgb(82, 190, 128);
}
/*color cuadro de dropdown*/
.dropdown-menu.show{
    background: rgb(242, 244, 244);
}
/* Sombras para un efecto más suave */
.navbar a:hover {
    color: black;
    transition: color 0.3s ease;
}



/* Css para los menus de los iconos */
.user-menu {
    position: relative;
    display: inline-block;
  }


/*color letras*/
.dropdown-menu a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
}

